---
import TarjetaCancion from '../components/TarjetaCancion.astro';
import Layout from '../layouts/Layout.astro';


const res = await fetch('https://api.institutoalfa.org/api/songs')
const { songs } = await res.json()
---

<Layout>
	
	<section class="flex flex-col gap-5 ">
		<button> </button>
	{
		songs.map((song: any) => {
			return (
				<TarjetaCancion informacion={song} />
			)
		})
	}
	</section>
</Layout>
