---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<header>
		<p class="text-8xl font-bold ">Lista de reproduccion</p>
		
		<a href=""></a>
		</p>
	</header>
	<body class="bg-green-950 text-amber-50">
		<slot />
		
			
	
		<footer>
			<audio src="" autoplay id="audio"></audio>
		</footer>
	</body>
</html>
<script>
	// Aquí va la logica para hacer que el reproductor suene
	document.addEventListener('cancionSeleccionada', (event) => {
		const audioElement = document.getElementById('audio')
		audioElement.src = event.detail.song.audio.url
		audioElement.play()
	})
</script>

